.container {
    display: flex;
    gap: 50px;
}

.input {
    border-radius: 6px;
    height: 20px;
    background-color: #EEEEEE;
}

.input_label {
    color: #007d52;
    font-weight: 700;
}

.add_btn {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: #007d52;
    border: 0;
    color: white;
    font-weight: 700;
    align-self: flex-end;
    cursor: pointer;
}

.add_btn:hover {
    background-color: #11b87d;
}