.container {
    display: flex;
    justify-content: space-evenly;
}

.panel {
    border-radius: 10px;
    width: 45%;
}

.placeholder {
    margin-top: 20px;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    background-color: #393E46;
    border-radius: 10px;
}

.title {
    color: white
}
