.container {
    margin: 20px auto;
    min-width: 200px;
    max-width: 600px;
    border-radius: 10px;
    background-color: #393E46;
    padding: 10px;
}

.incomes {
    color: green;
}

.outcomes {
    color: #cf1500;
}

.results {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.bilance {
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
}